body {
  margin: 0;
}

.visitekaartje {
  padding-top: 80px;
  background-color: #EEEEEE;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border: 4px #97D8C4 solid;
  border-radius: 3px;
  height: 700px;

}


.svenvandijktitel {
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.jaaroud {
  max-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
}

.pasfoto {
  max-width: 300px;
  border-radius: 15px;
}

.overgang {
  height: 300px;
  position: relative;
 


div:nth-of-type(1) {
    position: absolute;
    animation: overgangAnimatie linear ;
    animation-timeline: scroll();
    animation-range: 0% 100%;
    background-color: #97D8C4;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 100px;
  }

   div:nth-of-type(2) {
    position: absolute;
    animation: overgangAnimatie2 linear ;
    animation-timeline: scroll();
    
    animation-range: 0% 100%;
    background-color: #97D8C4;
    width: 50px;
    height: 50px;
    left: 300px;
    top: 30px;
  }

    div:nth-of-type(3) {
    position: absolute;
    animation: overgangAnimatie2 linear ;
    animation-timeline: scroll();
    
    animation-range: 0% 100%;
    background-color: #97D8C4;
    width: 50px;
    height: 50px;
    left: 400px;
    
  }

    div:nth-of-type(4) {
    position: absolute;
    animation: overgangAnimatie2 linear ;
    animation-timeline: scroll();
    
    animation-range: 0% 100%;
    background-color: #97D8C4;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 150px;
    
  }

    div:nth-of-type(5) {
    position: absolute;
    animation: overgangAnimatie linear ;
    animation-timeline: scroll();
    
    animation-range: 0% 100%;
    background-color: #97D8C4;
    width: 50px;
    height: 50px;
    left: 30px;
    top: 200px;
    
  }

   div:nth-of-type(6) {
    position: absolute;
    animation: overgangAnimatie2 linear ;
    animation-timeline: scroll();
    
    animation-range: 0% 100%;
    background-color: #97D8C4;
    width: 50px;
    height: 50px;
    left: 10px;
    top: 200px;
    
  }

    div:nth-of-type(7) {
    position: absolute;
    animation: overgangAnimatie3 linear ;
    animation-timeline: scroll();
    
    animation-range: 0% 100%;
    background-color: #97D8C4;
    width: 50px;
    height: 50px;
    left: 10px;
    top: 100px;
    
  }

   div:nth-of-type(8) {
    position: absolute;
    animation: overgangAnimatie4 linear ;
    animation-timeline: scroll();
    
    animation-range: 0% 100%;
    background-color: #97D8C4;
    width: 50px;
    height: 50px;
    left: 10px;
    top: 200px;
    
  }
}


@keyframes overgangAnimatie {

  0%{ translateX: 0px;}

  50%{translate: 700px;}

  100%{translate: 1300px;}



}

@keyframes overgangAnimatie2 {

  0%{ translateX: 0px;}

  50%{translate: 300px;}

  100%{translate: 600px;}



}

@keyframes overgangAnimatie3 {

  0%{ translateX: 0px;}

  50%{translate: 250px;}

  100%{translate: 500px;}



}

@keyframes overgangAnimatie4 {

  0%{ translateX: 0px;}

  50%{translate: 500px;}

  100%{translate: 1000px;}



}

.overmijtitel {
  display: block;
  padding-top: 120px;
  margin: 0 auto;
  text-align: center;
  background-color: #97D8C4;
  height: 100px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  max-width: 300px;
  margin: 0 auto;
}

.tweedelig {
  display: flex;
  background-color: #97D8C4;
  margin-top: -27px;

}

.links,
.rechts {
  width: 50%;
  text-align: center;
  padding-bottom: 60px;
}