body {
  margin: 0;
}

.visitekaartje {
  padding-top: 80px;
  background-color: #EEEEEE;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border: 4px #97D8C4 solid;
  border-radius: 3px;
  height: 700px;

}


.svenvandijktitel {
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.jaaroud {
  max-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
}

.pasfoto {
  max-width: 300px;
  border-radius: 15px;
}

.overgang {
  height: 300px;

 div {
    position: absolute;
    animation: overgangAnimatie ;
    animation-timeline: scroll();
    animation-range: 0% 100%;
    
    background-color: #97D8C4;
    width: 50px;
    height: 50px;
  }
}


@keyframes overgangAnimatie {

  0%{ translateX: 0px;}

  50%{translate: 500px;}

  100%{translate: 1000px;}



}

.overmijtitel {
  display: block;
  padding-top: 120px;
  margin: 0 auto;
  text-align: center;
  background-color: #97D8C4;
  height: 100px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  max-width: 300px;
  margin: 0 auto;
}

.tweedelig {
  display: flex;
  background-color: #97D8C4;
  margin-top: -27px;

}

.links,
.rechts {
  width: 50%;
  text-align: center;
  padding-bottom: 60px;
}